@import url(https://fonts.bunny.net/css?family=akshar:300,400,500,600,700);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Akshar', sans-serif;
}

.ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 300px;
    overflow-y: auto;
}

.ck-content.ck-editor__editable > * {
    margin-bottom: 10px;
}
